---
const topicTitle = "Soccer Blog";
import Header from '../components/Header.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{topicTitle}</title>
	</head>
	<body>
		<Header />
		<h1>{topicTitle}</h1>
		<style>
			
			body {
				background: rgb(98, 80, 255);
			}
			
		</style>
		
	</body>
</html>
